<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="www.frebsite.nl" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
        <title>Drdo dashboard</title>
		
    	<link rel="icon" href="{% static 'img/drdo.png'%}">
		
        <!-- Custom CSS -->
        <link href="{% static 'css/styles.css'%}" rel="stylesheet">
		<!-- Custom Color Option -->
		<link href="{% static 'css/colors.css'%}" rel="stylesheet">
		
    </head>
	
    <body class="red-skin">
	
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css'%} -->
        <!-- ============================================================== -->
        <div id="preloader"><div class="preloader"><span></span><span></span></div></div>
		
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->

			<!-- ============================ Page Title Start================================== -->
			<div class="page-title py-4" >
				<div class="container">
						<div class="col-lg-12 col-md-12 d-flex  " style="justify-content: space-between;">
							<div>
								<img src="{% static 'img/drdo.png'%}" alt="" style="height: 150px;">
							</div>
							<div class="breadcrumbs-wrap d-flex" style="flex-direction: column; align-items: left; justify-content: center;">
								<h1 class="breadcrumb-title">Dashboard</h1>
							
							</div>
							
						</div>
				</div>
			</div>
			<section class="gray pt-5">
				<div class="container-fluid">
										
					<div class="row mx-3">
						<div class="col-lg-8 col-md-8 col-sm-12 ">
							<form name = "form1" class="form"  method = "POST" >
								{% csrf_token %}
				   				<div class="form-group">
									<label>Model selection</label>
									<select  id="model" name="model" class="form-control" onChange="changecat1(this.value);">
										<option value="" disabled selected>Select</option>
										<option value="Model1">Model 1</option>
										<option value="Model2">Model 2</option>
										<option value="Model3">Model 3</option>
									</select>
								</div>
								<div class="form-group">
									<label>Possible attacks</label>
									<select id="attack" name="attack" class="form-control">
										<option value="" disabled selected >Select</option>
									
									</select>
								</div>
								<div class="form-group">
									<label>Parameters</label>
									<select id="parameters" name="parameters" class="form-control">
										<option value="" disabled selected>Select</option>
										<option value="eps">eps</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
									</select>
								</div>
								<button type="submit" class="btn-red btn-md full-width ">Submit</button>
							</form>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="dashboard-navbar"  style="height: 55vh;">
								<h3>Model:</h3>								<h2>{{model}}</h2>
								<h3>Attack:</h3>
								<h2>{{attack}}</h2>
								<h3>Parameter:</h3>
								<h2>{{parameter}}</h2>
								<h3>Range:</h3>
								<h2>Range</h2>
							</div>
							
							
						</div>	
					</div>
					
				</div>
			</section>
			
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="{% static 'js/jquery.min.js'%}"></script>
		<script src="{% static 'js/popper.min.js'%}"></script>
		<script src="{% static 'js/bootstrap.min.js'%}"></script>
		<script src="{% static 'js/select2.min.js'%}"></script>
		<script src="{% static 'js/slick.js'%}"></script>
		<script src="{% static 'js/jquery.counterup.min.js'%}"></script>
		<script src="{% static 'js/counterup.min.js'%}"></script>
		<script src="{% static 'js/custom.js'%}"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->
		<script>
			  var attack1 = {
    Model1: ["FGSM", "PGD", "DEEP FOOL"],
    Model2: ["FGSM", "PGD", "DEEP FOOL","BIM"],
    Model3: ["FGSM", "PGD", "DEEP FOOL","BIM","C&W"]
}

    function changecat1(value) {
        if (value.length == 0) document.getElementById("attack").innerHTML = "<option></option>";
        else {
            var catOptions = "";
            for (categoryId in attack1[value]) {
                catOptions += "<option>" + attack1[value][categoryId] + "</option>";
            }
            document.getElementById("attack").innerHTML = catOptions;
        }
    }
// 	var param1 = {
//     0: ["1"],
//     1: ["1", "2"],
//     2: ["1", "2", "3"],
// 	3: ["1", "2", "3", "4"],
// 	4: ["1", "2", "3", "4", "5"]
// }
	
//     function changecat2(value) {
//         if (value.length == 0) document.getElementById("parameters").innerHTML = "<option></option>";
//         else {
//             var param = "";
//             for (categoryI in attack1[value]) {
//                 param += "<option>" + param1[value][categoryI] + "</option>";
//             }
//             document.getElementById("parameters").innerHTML = param;
//         }
//     }
		</script>

	</body>
</html>